<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Edit an item</title>
</head>
<body>
	<h1>Edit item</h1>
	<div>
		<form th:object="${item}" th:action="@{../save}" action="#" method="post">	
			<input type="hidden" th:field="*{id}"/>
			<div class="form-group">
			  	<label for="name">Name</label>
				<input type="text" class="form-control" id="name" th:field="*{name}" />
			</div>
			<div class="form-group">
			  	<label for="quantity">Quantity</label>
				<input type="text" class="form-control" id="quantity" th:field="*{quantity}" />
			</div>
			<div class="form-group">
			  	<label for="unit">Unit</label>
				<input type="text" class="form-control" id="unit" th:field="*{unit}" />
			</div>
			<div class="form-group">
			  	<label for="Note">Note</label>
				<input type="text" class="form-control" id="note" th:field="*{note}" />
			</div>
			<div class="form-group">
				<label for="storelist">Store</label>
				<select class="form-control" id="storelist" th:field="*{store}">
					<option th:each="store: ${stores}"
					th:value="${store.storeId}"
					th:text="${store.name}">
					</option>
				</select>
			</div>
			<input type="submit" value="Save" class="btn btn-success"></input>
		</form>
	</div>
</body>
</html>